/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 *
 * This is a Colemak 28 oneshot keymap for the Humla keyboard.
 * Last edited by James White, November 29, 2021.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q     &kp J     &kp W     &kp M     &kp APOS        &kp SLASH &kp F     &kp U     &kp Y     &kp X
                &kp A     &kp R     &kp S     &kp T     &kp G           &kp P     &kp N     &kp E     &kp I     &kp O
                &kp COMMA &kp L     &kp C     &kp D     &kp V           &kp B     &kp H     &kp Z     &kp K     &kp DOT
                                    SL(NAV_L) &kp SPACE SQ(LSHFT)       SQ(RSHFT) &kp BSPC  SL(NUM_L)
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
                &kp SLASH &kp N7    &kp N8    &kp N9    &trans          &trans    &trans    CAPSWORD  &trans    &trans
                &kp MINUS &kp N4    &kp N5    &kp N6    &kp PLUS        &trans    SK(LSHFT) SK(LCTRL) SK(LALT)  SK(LGUI)
                &kp EQUAL &kp N1    &kp N2    &kp N3    &kp ASTRK       &trans    SK(RSHFT) SK(RCTRL) SK(RALT)  SK(RGUI)
                                &lt NAV_L DOT &kp N0    &trans          &trans    &trans    &trans
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
                &trans    &trans    &trans    CAPSWORD  &trans          &trans    &kp HOME  &kp UARW  &kp END   &kp LC(Z)
                SK(LGUI)  SK(LALT)  SK(LCTRL) SK(LSHFT) &trans          &kp PG_UP &kp LARW  &kp DARW  &kp RARW  &kp LC(LS(Z))
                SK(RGUI)  SK(RALT)  SK(RCTRL) SK(RSHFT) &trans          &kp PG_DN &kp ESC   &kp TAB   &kp RET   &kp LS(INS)
                                    &trans    &trans    &trans          &trans    &kp BSPC  &lt NUM_L DEL
            >;
        };

    };
};
